*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-lightblue: #1e6091;
  --clr-darkblue: #184e77;
  --clr-green: #99d98c;
  --clr-yellow: #d9ed92;
  --clr-text: #edf3fc;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 2.25rem;
  --fs-body: 2rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.75rem;
    --fs-h3: 2.5rem;
    --fs-body: 2rem;
  }
}

body {
  background-color: var(--clr-darkblue);
  color: var(--clr-text);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-align: justify;
}

section {
  padding-right: 1em;
  padding-left: 1em;
}

/* Typography */

h1 h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.logo img {
  margin-top: 0.25em;
  margin-left: 0.25em;
  max-width: 10rem;
  max-height: auto;
}

.section__title {
  font-size: var(--fs-h1);
}

.section__content {
  font-size: var(--fs-body);
  opacity: 0.8;
}

nav a:link {
  color: var(--clr-green);
  text-decoration: none;
  opacity: 0.8;
}

nav a:visited {
  color: var(--clr-green);
  text-decoration: none;
  opacity: 0.8;
}

nav a:hover {
  color: var(--clr-green);
  text-decoration: none;
  box-shadow: 1px 1px 10px var(--clr-lightblue);
  opacity: 0.8;
}

@media (min-width: 600px) {
  .intro {
    margin: 0;
    display: grid;
    gap: 0.75em;
    grid-template-areas: "intro__content img";
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  .nav__list {
    list-style: none;
    display: grid;
    margin-top: 4.5rem;
    gap: 2.5rem;
    grid-template-areas: "one two three four five";
  }

  .social__media a:link {
    text-decoration: none;
    color: var(--clr-text);
    opacity: 1;
  }

  .social__media a:visited {
    color: var(--clr-text);
    opacity: 1;
  }

  .social__media a:hover {
    color: var(--clr-green);
    opacity: 1;
  }

  i {
    padding: 0.5em;
  }

  .project__description--img--grid {
    margin: 0;
    display: grid;
    gap: 0.75em;
    grid-template-areas: "img project__content";
  }

  .project__list {
    display: grid;
    gap: 1em;
    grid-template-areas:
      "one two"
      "three .";
    justify-content: justify;
  }

  .project__list .full__project__content {
    box-shadow: 20px 20px 50px rgba(30, 96, 145, 0.5);
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
    border-top: 1px solid rgba(153, 217, 140, 0.5);
    border-left: 1px solid rgba(153, 217, 140, 0.5);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transform: perspective(800px);
  }

  .project__description {
    opacity: 0.8;
  }

  .tech__icons {
    float: right;
    opacity: 1;
  }

  .full__project__content {
    border: var(--clr-green);
  }

  .project__list a:link {
    color: var(--clr-text);
    text-decoration: none;
    opacity: 0.8;
  }

  .project__list a:visited {
    color: var(--clr-text);
    text-decoration: none;
    opacity: 0.8;
  }

  .project__list a:hover {
    color: var(--clr-text);
    text-decoration: none;
    opacity: 0.8;
  }

  .project__image img {
    max-width: 25em;
    max-height: auto;
  }

  .education__description--img--grid {
    margin: 0;
    display: grid;
    gap: 0.75em;
    grid-template-areas: "education__content img";
  }

  .education__img img {
    max-width: 25em;
    max-height: auto;
  }

  /* .cert__list {
    display: grid;
    gap: 0.5em;
    grid-template-areas: "one two three";
  }

  .card {
    /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }  */

  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  } */

  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */

  .contact__description--img--grid {
    margin: 0;
    display: grid;
    gap: 0.75em;
    grid-template-areas: "contact__content img";
  }

  .contact__img img {
    max-width: 25em;
    max-height: auto;
  }
}
